<!-- ZVM: SEE PR -->
<h1>W E L C O M E ,  <%= @user.username.upcase%> </h1>
<div class ="card">
<a href= '/games'>| P L A Y |</a> <br><br>

| Y O U R   D E C K S |<br><br>
<% @decks.each do |deck| %>
  <a href= '/decks/<%=deck.id%>'><%= deck.name %></a>
  <a href= '/decks/<%=deck.id%>/edit'>Edit</a>

  <%= erb :'decks/_delete', locals: {deck: deck} %><br>

<%end%>

<br>
<a href= '/decks/new'>| N E W   D E C K |</a>
</div>
