<h3> Playing Game </h3>

<p> <%= @card.question %> </p>

<form action="/games/<%= @game_id %>/guesses" method="post">
  <input type="hidden" name="game_id" value="<%= @game_id %>">
  <input type="hidden" name="card_id" value="<%= @card.id %>">
  <input type="hidden" name="card_answer" value="<%= @card.answer %>">
  <input type="text" name="user_guess" placeholder="enter answer">
  <input type="submit" value="submit">
</form>
