<h1>Edit Deck's Cards</h1>

<a href="/decks/<%= @deck_id %>/cards/new">Add New Card</a>

<ul>
  <%@cards.each_with_index do |cur_card, index|%>
    <li>
      card: <%= index + 1 %>
      <a href="/cards/<%= cur_card.id %>">edit</a>
      <%= erb :'cards/_delete', locals: {card: cur_card} %>

      question: <%= cur_card.question %> <br>
      answer: <%= cur_card.answer %> <br>
    </li>
  <%end%>
</ul>
