<h1>Edit Deck's Cards</h1>
<body>
<a href="/decks/<%= @deck_id %>/cards/new">Add New Card</a>

<ul>
  <%@cards.each_with_index do |cur_card, index|%>
    <ul>
      CARD | <%= index + 1 %>
      <a href="/cards/<%= cur_card.id %>"> EDIT</a>
      <br>
      Q |  <%= cur_card.question %> <br>
      A |  <%= cur_card.answer %> <br>
       <%= erb :'cards/_delete', locals: {card: cur_card} %>
    </ul>
  <%end%>
</ul>
</body>
